
QPushButton {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 6px 12px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

QPushButton:hover {
    background-color: #357ABD;
}


QPushButton#btnSearchCli, QPushButton#btnCleanCli, QPushButton#btnFechaltacli, QPushButton#btnResetfac {
    background-color: none;
}

QPushButton#btnSearchCli:hover, QPushButton#btnCleanCli:hover, QPushButton#btnFechaltacli:hover, QPushButton#btnResetfac:hover {
    font-size: 20px;
}

QPushButton#btnDelcli {
    background-color: #FF6666;
}

QPushButton#btnDelcli:hover {
    background-color: #FF3333;
}

QPushButton#btnDelprod {
    background-color: #FF6666;
}

QPushButton#btnDelprod:hover {
    background-color: #FF3333;
}

/*QPushButton#btnPrint {
    background-color: #4A90E2;
    color: white;
    border: none;
    display: flex;
    font-weight: bold;
    flex-direction: column;
}

QPushButton#btnPrint:hover {
    background-color: #357ABD;
}*/


/*
QPushButton#btnSavecli {
    background-color: #3fcc80;
}

QPushButton#btnSavecli:hover {
    background-color: #2faf6b;
}
*/

QHeaderView::section {
    background-color: #4A90E2;
    color: white;
    padding: 4px;
    border: none;
    font-weight: bold;
}

QStatusBar {
    background-color: #4A90E2;
    color: white;
    font-weight: bold;
}


QMenuBar {
    background-color: #4A90E2;
    color: white;
}

QMenuBar::item:selected {
    background-color: #357ABD;
}

QLineEdit {
    border: 1px solid #33CCFF;
    border-radius: 5px;
    background: #ffffff;
    selection-background-color: #33CCFF;
}

QComboBox {
    border: 1px solid #33CCFF;
    border-radius: 5px;
    padding-left: 8px;
}


QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 25px;
    border-left: 1px solid #33CCFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #E0F7FF;
    padding-left: 3px;
}

QComboBox::down-arrow {
    image: url('./img/drop-down.png');
    width: 20px;
    height: 20px;
    top: 1px;
    right: 1px;
}


QComboBox::down-arrow:on {
    image: url('./img/drop-up.png');
}